// $background-colour=
// $dominant-color=
// $accent-color-light=
// $accent-color-medium=
// $accent-color-dark=
$blue-colour = #30EED4
$grey-colour = #287077
$yellow-colour = #DBFB28
$pink-colour = #FF4F74
$peachy-orange-colour = #f69e7b
// $white-ish-colour = #CAC6C6
$white-ish-colour = #eedad1
$background-colour = #383e56
$text-colour = #464646
$highlighted-colour = #00FFDC