@import "./colour_scheme.styl"
@import "./sight_words.styl"
@import url('https://fonts.googleapis.com/css?family=Coming+Soon')

#app
  font-family: 'Coming Soon', cursive
  background-color: $background-colour
  font-size: 20px
  
  #flash-facts
    display: grid
    width: 100%
    height: 100%
    box-sizing: border-box
    padding: 30px
    align-items: center
    justify-items: center
    overflow: scroll
    
    #options
      display: grid
      box-sizing: border-box
      padding: 70px
      width: 100%
      grid-gap: 30px
      align-items: center
      justify-items: center
      grid-template-columns: repeat(auto-fit, minmax(475px, 1fr))

      .option
        position: relative
        display: grid
        box-sizing: border-box
        width: 500px
        height: 500px
        align-items: center
        justify-items: center
        padding: 10px
        background-color: $white-ish-colour
        cursor: pointer
        border-radius: 50px
        -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
        overflow: hidden
        
        .title
          font-size: 80px
          font-weight: bold
          text-shadow: 3px 3px 1px $white-ish-colour
          color: black
          user-select: none
          text-align: center
          z-index: 2
        
        &:after
          content: ""
          position: absolute
          opacity: 0.55
          z-index: 1
          top: 0
          left: 0
          right: 0
          bottom: 0
          background-repeat: no-repeat
          transform: translate(25%, 25%) rotate(-45deg)
        
        &.math-option
          position: relative
          
          &:after
            background-image: url('./math-facts-background.png')
            background-size: 100%
            
        &.words-option
          position: relative
          
          &:after
            background-image: url('./sight-words-background.png')
            background-size: 100%
        
        &:hover
          transform: translate(-5px, -5px)
          -webkit-box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4)
          box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4)
  
  .button
    box-sizing: border-box
    height: 50px
    padding: 10px
    border: 1px solid $text-colour
    border-radius: 10px
    color: $text-colour
    // text-shadow: 2px 2px 2px $white-ish-colour
    cursor: pointer
    background-color: $peachy-orange-colour
    user-select: none

    &:hover
      transform: translate(-2px, -2px)
      -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
  
  .shuffle-button 
    &.enabled
      background-color: $blue-colour
      color: $white-ish-colour